{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <div class="main_content ui segment">

        <h2>{{ form.title.value }}</h2>

        <form class="ui form" method="post">
            {% csrf_token %}
            {% render_form form %}
            <button class="ui submit button">Submit</button>
        </form>

    <div class="ui right rail">
    <div class="ui segment">
      <h2>Экспертизы:</h2>
        {% for e in expertises %}
            <a href="/roo/expertise/{{ e.id }}/">{{ e.get_type_display }}</a>
        {% endfor %}


        <button onClick="window.open('/roo/create_expertise/');" class="ui blue basic button">Добавить экспертизу</button>

    </div>
  </div>

    </div>
    <script>
        $('.ui.dropdown').dropdown({ fullTextSearch: "exact" });
    </script>

{% endblock %}