{% extends "roo/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    {% render_table table %}

    <script>




        document.getElementById('coursesTable').classList.add('hover');
    </script>
    <style>
        .ui.container {
            width: 95% !important;
        }

        #coursesTable_length {
            margin-bottom: 2em;
        }

        div.dataTables_wrapper div.dataTables_length select {
            min-height: 0 !important;
            margin-left: 0.5em;
        }

        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid;
            border-radius: 3px;
            height: 1.8em;
            border-color: #c0c0c0;
        }

        table.dataTable.table thead th.sorting::after, table.dataTable.table thead td.sorting::after,
        table.dataTable.table thead th.sorting_asc::after, table.dataTable.table thead td.sorting_asc::after,
        table.dataTable.table thead th.sorting_desc::after, table.dataTable.table thead td.sorting_desc::after {
            content: "";
        }
    </style>
{% endblock %}
