{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <div class="main_content ui segment">

        {% if form.title.value %}
            <h2>{{ form.title.value }}</h2>
        {% else %}
            <h2>Создать курс</h2>
        {% endif %}

        <form class="ui form" method="post">
            {% csrf_token %}
            {% render_form form %}
            <button class="ui submit button">Submit</button>
        </form>

        <div class="ui right rail">
            <div class="ui segment">
                <h2>Экспертизы:</h2>

                {% for e in expertises %}
                    {% if e.type == "0" or e.type == None %}
                        <a href="/roo/expertise/{{ e.id }}/">
                        <div class="ui card">
                            <div class="content">
                                <div class="right floated meta">{{ e.date }}</div>
                                {{ e.expert.login }}
                            </div>

                            <div class="content">
                                <span class="right floated">
                                  {% if e.executed == True %}
                                      <i class="thumbs up icon"></i> Пройдена
                                  {% else %}
                                      <i class="thumbs down icon"></i> Не пройдена
                                  {% endif %}
                                </span>
                                <i class="comment icon"></i>
                                {{ e.get_type_display }}
                            </div>
                            <div class="extra content">
                                <div class="ui large transparent left icon input">
                                    <i class="heart outline icon"></i>
                                    <input placeholder="Add Comment..." type="text">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}



                <button onClick="window.open('/roo/create_expertise/{{ course_id }}');" class="ui blue basic button">Добавить экспертизу</button>
                <button onClick="window.open('/roo/create_teacher/');" class="ui blue basic button">Добавить автора</button>

            </div>
        </div>

    </div>
    <script>
        $('.ui.dropdown').dropdown({fullTextSearch: "exact", allowAdditions: true});
    </script>

{% endblock %}