{% extends "roo/courses_base.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet"/>
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet"/>

    <div id="jsGrid"></div>

    <script src="http://js-grid.com/js/jsgrid.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#jsGrid").jsGrid({
                height: "50%",
                width: "100%",
                filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pageButtonCount: 5,
                deleteConfirm: "Do you really want to delete client?",
                controller: {
                    loadData: function () {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/roo/courses_edit/",
                        }).done(function (result) {
                            console.log(result);
                            d.resolve($.map(result, function (item) {
                                return $.extend(item.fields);
                            }));
                        });
                        return d.promise();
                    }
                    /*, insertItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "/clients/api",
                            data: item
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/clients/api/" + item.id,
                            data: item
                        });
                    },
                    deleteItem: function (item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/clients/api/" + item.id
                        });
                    }*/
                },
                fields: [
                    {#{name: "name", type: "text", width: 150},#}
                    {#{name: "age", type: "number", width: 50, filtering: false},#}
                    {#{name: "address", type: "text", width: 200},#}
                    {#{name: "married", type: "checkbox", title: "Is Married", filtering: false, sorting: false},#}
                    {#{type: "control"}#}

                    {title: "Наименование", name: "title", type: "text"},
                    {title: "Платформа", name: "partner", type: "text"},
                    {title: "Gender", name: "gender", type: "text"},
                    {title: "Правообладатель", name: "institution", type: "text"},
                    {title: "Статус коммуникации с правообладателем", name: "communication_owner", type: "text"},
                    {title: "Статус коммуникации с платформой", name: "communication_platform", type: "text"},
                    {title: "Статус экспертизы", name: "expertise_status", type: "text"},
                    {title: "Статус паспорта", name: "passport_status", type: "text"},
                    {title: "Состояние загрузки обязательных оценок", name: "required_ratings_state", type: "text"},
                    {title: "Состояние загрузки добровольных оценок", name: "unforced_ratings_state", type: "text"},
                    {title: "Примечание", name: "comment", type: "text"},
                    {title: "Статус загрузки На РОО", name: "roo_status", type: "text"},
                ],
                loadIndicator: {
                    show: function () {
                        console.log("Загрузка началась");
                    },
                    hide: function () {
                        console.log("Загрузка окончена");
                    }
                }
            });
        });
    </script>

{% endblock %}