{% extends "roo/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    {% render_table table %}

    <script>
        var table = $('#coursesTable').DataTable({
            fixedHeader: {
                header: true,
                footer: false
            }
        });
    </script>
    <style>
    .ui.container {
        width:95% !important;
    }
    #coursesTable_length {
        margin-bottom: 2em;
    }
    div.dataTables_wrapper div.dataTables_length select {
        min-height: 0 !important;
    }
    </style>
{% endblock %}
