{% load roo_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
</head>
<body>

<section>
<style type="text/css">
  span.grey {
    color: grey;
  }
  p.bigger_grey {
    font-size: 18px !important;
    color: grey !important;
  }
  sp {
    display: inline-block;
    height: 20px;
    width: 100%;
  }

</style>
    <h2> Об этом курсе</h2>
    <p>{{ course.description }}</p>
</section>
<section>
    <h2>Трудоемкость освоения курса</h2>
    <p><span class="grey"><em>Длительность курса:</em></span> {{ course.duration }} недель
        <br>
        <em><span class="grey">Общая трудоемкость курса:</span></em> {{ course.labor|multiply:36 }}</p>
</section>
<section style="text-justify: inter-word;">
    <h2>Результаты обучения </h2>
    <p>По окончании освоения дисциплины обучающийся будет способен:</p>
        <p>РО&nbsp;1. Знать и понимать связь философии и науки, общественную значимость теоретической деятельности.</p>
        <p>РО&nbsp;2. Оформлять свою точку зрения в позицию в полемике на философскую тему. Применять философские понятия и концепции для объяснения конкретных ситуаций повседневной жизни.</p>
        <p>РО&nbsp;3. Применять теоретические методы познавательной деятельности и знать основные проблемы философии науки.</p>
        <p>РО&nbsp;4. Знать основы этики и уметь применять теорию этики для принятия решений в конкретных ситуациях жизни и профессиональной сферы.</p>

        <p>Вариативные результаты обучения для 4-х укрупненных направлений подготовки:</p>
<sp></sp>
        <p class="bigger_grey">Вариант 1. Инженерные науки:</p>
        <p>РО&nbsp;5. Выявлять социальную значимость технических изобретений.</p>
        <p>РО&nbsp;6. Обладать навыком гуманитарной и социальной экспертизы технических проектов.</p>
<sp></sp>
        <p class="bigger_grey">Вариант 2. Социальные и гуманитарные науки:</p>
        <p>РО&nbsp;5. Применять социально-философский анализ для исследования современных тенденций развития общества.</p>
        <p>РО&nbsp;6. Уметь формировать и теоретически оформлять жизненную философскую позицию.</p>
<sp></sp>
        <p class="bigger_grey">Вариант 3. Естественные науки, математика и информатика:</p>
        <p>РО&nbsp;5. Анализировать этические проблемы научной деятельности.</p>
        <p>РО&nbsp;6. Уметь применять социально-философский теоретический инструментарий  для анализа социальных проблем современной науки и техники.</p>
        <sp></sp>
        <p class="bigger_grey">Вариант 4. Экономика и управление:</p>
        <p>РО&nbsp;5. Применять социально-философский анализ к феноменам экономической сферы.</p>
        <p>РО&nbsp;6. Применять навык этической экспертизы для диагностики управления и этичности организации.</p>
</section>
<section>
    <h2>Требования к уровню подготовки </h2>
    <p>Для успешного достижения результатов обучения по курсу необходимо последовательное освоение дисциплин и компетенций гуманитарного модуля в целом: «Язык делового общения», «Правоведение», «Психология», «Культурология», «История», «Самоменеджмент».</p>
</section>
<section>
    <h2>Требования к техническому обеспечению</h2>
    <p>Обучение в специально оборудованной лекционной аудитории с компьютерными рабочими местами и выходом в интернет. </p>
</section>




</body>
</html>