{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <div class="main_content">
        <h2>Обязательные поля паспорта ОК:</h2>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </thead>
            <tbody>
            <tr>
                <td>Платформа</td>
                <td>{{ expertice.course.partner.title }}</td>
            </tr>
            <tr>
                <td>Ссылка на ОК на платформе (версию ОК)</td>
                <td>{{ expertise.course.external_url }}</td>
            </tr>
            <tr>
                <td>Версия курса</td>
                <td>{{ expertise.course.version }}</td>
            </tr>
            <tr>
                <td>Правообладатель</td>
                <td>{{ expertise.course.institution }}</td>
            </tr>
            <tr>
                <td>Название курса</td>
                <td>{{ expertise.course.title }}</td>
            </tr>
            <tr>
                <td>Длительность</td>
                <td>{{ expertise.course.duration }}</td>
            </tr>
            <tr>
                <td>Описание</td>
                <td>{{ expertise.course.description }}</td>
            </tr>
            <tr>
                <td>Авторы</td>
                <td>
                    {% for author in  expertise.course.authors %}
                        <p>{{ author }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td>Язык содержания</td>
                <td>{{ expertise.course.language }}</td>
            </tr>

            <tr>
                <td>Рекомендуемые "входные" требования к обучающемуся</td>

                {% if expertise.course.requirements %}
                    <td>{{ expertise.course.requirements }}</td>
                {% else %}
                    <td><i class="times icon"></i></td>
                {% endif %}
            </tr>

            <tr>
                <td>Сертификат (выдается или нет)</td>
                    {% if expertise.course.has_sertificate %}
                        <td><i class="check icon"></i></td>
                    {% else %}
                        <td><i class="times icon"></i></td>
                    {% endif %}
            </tr>

            <tr>
                <td>Даты ближайшего запуска</td>
                {% if expertise.course.started_at %}
                    <td>{{ expertise.course.started_at }}</td>
                {% else %}
                    <td><i class="times icon"></i></td>
                {% endif %}
            </tr>

            <tr>
                <td>Адрес эл. почты администратора ОК</td>

                {% if expertise.course.admin_email %}
                    <td>{{ expertise.course.admin_email }}</td>
                {% else %}
                    <td><i class="times icon"></i></td>
                {% endif %}
            </tr>

            </tbody>
        </table>

        <p>{{ expertise.course }}</p>

        <h2>{{ form.title.value }}</h2>

        <form class="ui form" method="post">{% csrf_token %}
            {% render_form form %}
            <button class="ui button" type="submit">Обновить</button>
        </form>

    </div>
    <script>
        $('.ui.dropdown')
            .dropdown();
        $('#id_record_end_at').calendar();
    </script>

{% endblock %}