{% extends "roo/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    {% render_table table %}

    <script>
        $(document).ready(function () {
            $('#expertisesTable tfoot td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" size="10" placeholder="Фильтр" />');
            });


            // DataTable
            var table = $('#expertisesTable').DataTable({
                "pageLength": -1,
                "lengthMenu": [[15, 30, 50, -1], [15, 30, 50, "Все"]],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "language": {
                    "sProcessing": "Подождите...",
                    "sSearch": "Поиск:",
                    "sLengthMenu": "Показать _MENU_ записей",
                    "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                    "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Загрузка записей...",
                    "sZeroRecords": "Записи отсутствуют.",
                    "sEmptyTable": "В таблице отсутствуют данные",
                    "oPaginate": {
                        "sFirst": "Первая",
                        "sPrevious": "Предыдущая",
                        "sNext": "Следующая",
                        "sLast": "Последняя"
                    },
                    "oAria": {
                        "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sSortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });

            table.columns().eq(0).each(function (colIdx) {
                var search = $.fn.dataTable.util.throttle(function (val) {
                    table
                        .column(colIdx)
                        .search(val)
                        .draw();
                });

                var delay = (function () {
                    var timer = 0;
                    return function (callback, ms) {
                        clearTimeout(timer);
                        timer = setTimeout(callback, ms);
                    };
                })();

                $('input', table.column(colIdx).footer()).keyup(function () {
                    var that = this;
                    delay(function(){search(that.value)}, 1000);
                });
            });
        });


        document.getElementById('expertisesTable').classList.add('hover');
    </script>
    <style>
        .ui.container {
            width: 95% !important;
        }

        #coursesTable_length {
            margin-bottom: 2em;
        }

        div.dataTables_wrapper div.dataTables_length select {
            min-height: 0 !important;
        }

        table.dataTable.table thead th.sorting::after, table.dataTable.table thead td.sorting::after,
        table.dataTable.table thead th.sorting_asc::after, table.dataTable.table thead td.sorting_asc::after,
        table.dataTable.table thead th.sorting_desc::after, table.dataTable.table thead td.sorting_desc::after {
            content: "";
        }
    </style>
{% endblock %}
