{% extends "../base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        .run_task {
            color: #fff;
            text-align: center;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            box-shadow: none;
            border-radius: 4px;
            box-sizing: border-box;
            background: #0075b4;
            border-color: #0075b4;
            font-size: 15px;
            padding: 5px 15px;
            width: 445px;
            display: inline-block;
            margin-top: 1em;
            margin-right: .5em;
        }

        .task_href {
            text-decoration-color: #68bfff;
            color: #fff !important;
        }

        .run_task:hover {

        }

        #active_tasks_container {
            background-color: #ebebe8;
            min-height: 2em;
            padding: 5px;
            margin-top: 1em;
        }
    </style>
    <div class="for-footer">
        <div class="main-title">
            <h1><span class="in"><span>РОО</span></span></h1>
        </div>
        <div class="section breadcrumbs">
            <div class="row">
                <div class="col3">
             <span class="breadcrumbs-item">
             <a href="/" class="no-underline">
             <span class="dotted">Главная страница</span>
             </a>
             </span>
                    <span class="divide">/</span>
                    <span class="breadcrumbs-item">
             <a href="" class="no-underline">
             <span>РОО</span>
             </a>

          </span></div>
            </div>
        </div>

        <div class="">
            <div class="row" style="margin-bottom: -20px;">
                <div class="col">
                    <div class="article" id="top-article" style="margin-top: -25px; height: 1013px;">
                        <h1>РОО</h1>
                        <div class="run_task">
                            <a class="task_href" href="/roo/?task=update_courses_from_roo_task">Обновить Онлайн-курсы</a>
                        </div>
                        <div class="run_task">
                            <a class="task_href" href="/roo/?task=update_platform_from_roo_task">Обновить Платформы</a>
                        </div>
                        <div class="run_task">
                            <a class="task_href" href="/roo/?task=update_owner_from_roo_task">Обновить Правообладатели</a>
                        </div>
                        <div class="run_task">
                            <a class="task_href" href="/roo/?task=update_areas_from_roo_task">Обновить Области деятельности</a>
                        </div>
                        <div class="run_task">
                            <a class="task_href" href="/roo/?task=update_direction_from_roo_task">Обновить Направления подготовки</a>
                        </div>
                        <div id="active_tasks_container">
                            <h2 style="padding-left: 1em;">Активные задачи:</h2>
                            <div id="active_tasks">

                            </div>
                        </div>

                        <script type="text/javascript" src='{% static "js/tasks_update.js" %}'></script>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}