{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <style>
  table { border-collapse: collapse; }
tr { display: block; float: left; }
th, td { display: block; border: 1px solid black; }
</style>

<table>
<tr>
                    {% for field in form1 %}
                        <td>{% render_field field %}</td>
                                {% endfor %}
</tr>
<tr>
                    {% for field in form2 %}
                       <td>{% render_field field %}</td>
                                {% endfor %}
 </tr>
</table>
 <!-- /container -->

 <!--   <div class="ui stackable four column grid">
        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}

                                {% for field in form1 %}
                                    {% render_field field %}
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>

        <div class="column">{% for field in form1 %} кнопка {% endfor %}</div>

        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}
                                {% for field in form2 %}
                                    {% render_field field %}
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>

    </div>
-->

{% endblock %}
