{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}
<style>
@media only screen and (min-width: 1200px)
.ui.container {
    width: 1885px !important;
}
.ui.form .field:last-child, .ui.form .fields:last-child .field {
margin-bottom: 1em;
}
.ui.grid>.column:not(.row) {
    padding-left: 80px;
}
.ui.multiple.dropdown {
    height: 200px;
    overflow: overlay;
}
    </style>
  <div class="ui stackable two column grid">
        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}
                                {% for field in form1 %}
                                    <div style="position: relative;" id="t1_{{ field.name }}">{% render_field field %}<div class="change-button" id="change_{{ field.name }}" style="top: 50%;right: -70px;position: absolute;z-index: 10000;"><a>Заменить</a></div></div>
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>


        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}
                                {% for field in form2 %}
                                    <div style="position: relative;"id="t2_{{ field.name }}">{% render_field field %}</div>
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>

    </div>

    <script>
        $('.ui.dropdown').dropdown({fullTextSearch: "exact", allowAdditions: true});
    </script>
{% endblock %}
