{% extends "roo/base_simple.html" %}
{% load static %}
{% load semanticui %}
{% block content %}

    <style>
   body{font-size: 22px;line-height: 1.4;}

nav{
	background-color: lightblue;
	display: flex;
  flex-wrap:wrap;
  flex-direction:column;
/*   align-items:flex-start; */
  height: 200px;
}
.navitem{
  border: 1px red dashed; /* visual helper */
  flex-basis: 50%;

      box-sizing: border-box;
}
    </style>


		<nav>
                    {% for field in form1 %}
                        <div class="navitem item1">{% render_field field %}</div>
                                {% endfor %}

                    {% for field in form2 %}
                       <div class="navitem item1">{% render_field field %}</div>
                                {% endfor %}
		</nav>



</div><!-- /container -->

 <!--   <div class="ui stackable four column grid">
        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}

                                {% for field in form1 %}
                                    {% render_field field %}
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>

        <div class="column">{% for field in form1 %} кнопка {% endfor %}</div>

        <div class="column">
            <table>
                <tr>
                    <td>
                        <div class="main_content">
                            <form class="ui form" method="post">{% csrf_token %}
                                {% for field in form2 %}
                                    {% render_field field %}
                                {% endfor %}
                            </form>
                        </div>
            </table>
        </div>

    </div>
-->

{% endblock %}
